{% extends 'base/base.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>Descripcion</td>
            <td>Fecha</td>
            <td>Imagen</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if articulo %}
        {% for articulo in articulo %}
        
        <tr>
            <td>{{articulo.id}}</td>
            <td>{{articulo.descripcion}}</td>
            <td>{{articulo.fecha}}</td>
            <td>{{articulo.foto}}</td>
            <td><a href="{% url 'principal:articulo_editar' articulo.id %}"><button class="btn btn-primary">Editar</button></a>
            </td>
            <td><a href="{% url 'principal:articulo_eliminar' articulo.id %}"><button class="btn btn-danger">Eliminar</button></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No existen articulos</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}